body {
    font-family: sans-serif;
}
header{
    background-color: brown;
}
header img{
    background-color: brown;
}
header b{
    color: blue;
}
header a{
    color: aqua;

}
main h1 {
    text-align: center;
    color: brown;
}

.kagap1 {
    background-color:red ;
}
